.title {
  text-align: center;
  margin: 50px 0 50px 0;
  color: var(--main-color);
}

.list {
  margin: -20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 15px;
  margin: 20px;
  width: 215px;
  box-shadow: 0px 0px 5px 1px var(--accent-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text {
  font-family: 'Roboto';
  color: var(--main-color);
  font-size: 12px;
}
/* 
.img{
  /* background-position: center;
  background-size: cover; */
  /* width: 200px;
  height: 170px;
  overflow: hidden; */
/* } */ 
